$primary: #FF9F1C;
$secondary: #FFBF69;
$light: #FFFFFF;
$dark: #2EC4B6;
$tertiary: #CBF3F0;

$body-bg: $light;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$utilities: map-merge(
    $utilities,
    (
        "width": map-merge(
            map-get($utilities, "width"),
            (
                values: map-merge(
                    map-get(map-get($utilities, "width"), "values"),
                    (
                        "nav_button": 110px,
                        "hero": 5000px,
                        "45": 45%,
                        "65": 65%,
                        "70": 70%,
                    )
                )
            )
        ),
        "padding-x": map-merge(
            map-get($utilities, "padding-x"),
            (
                values: map-merge(
                    map-get(map-get($utilities, "padding-x"), "values"),
                    (
                        "6": $spacer * 6,
                        "7": $spacer * 7,
                        "8": $spacer * 8,
                        "9": $spacer * 9,
                        "10": $spacer * 10,
                    )
                )
            )
        ),
        "padding-y": map-merge(
            map-get($utilities, "padding-y"),
            (
                values: map-merge(
                    map-get(map-get($utilities, "padding-y"), "values"),
                    (
                        "6": $spacer * 6,
                        "7": $spacer * 7,
                        "8": $spacer * 8,
                        "9": $spacer * 9,
                        "10": $spacer * 10,
                    )
                )
            )
        )
    )
);

@import "../../node_modules/bootstrap/scss/utilities/api";