#hero{
    background-image: url("../images/hero_background.jpg");
    background-size: cover;
    background-position: center;
}

.home_recipe_photo {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.home_recipe_photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home_recipe_info{
    height: 16em;
}

.member_review{
    height: 15em;
}

.carousel-control-prev{
    z-index: 100;
}

.carousel-control-next{
    z-index: 100;
}