.images {
  width: 18em;
  height: 12em;
  flex-shrink: 0;
  overflow: hidden;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favourite-btn {
  min-width: 12em;
}

@media (max-width: 767.98px) {
  .images {
    width: 100%;
    height: 12em;
    flex-shrink: 0;
    overflow: hidden;
  }
}
